# Database
# Exemplo: postgresql://postgres:sua_senha@localhost:5432/fast_delivery
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fast_delivery"


# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN="SEU_ACCESS_TOKEN_AQUI"

# URLs (Local Development)
VITE_API_URL="http://localhost:3000/api"
VITE_MENU_URL="http://localhost:5173"

# Outras configurações
PORT=3000
NODE_ENV=development
